.table {
    border-collapse: collapse;
    border: 2px solid #04AA6D;
    margin: 10px;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table tbody {
    display: block;
    max-height: 500px;
    overflow-y: auto;
}

.table thead tr {
    background-color: #04AA6D;
    color: #ffffff;
    text-align: left;
}

.table th {
    padding: 12px 0px 12px 0px;
    text-align: center;
}

.table td {
    padding: 12px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table a {
    color: #04AA6D;
}