<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ингридиент</title>
    <link rel="stylesheet" type="text/css" href="../topnav.css">
    <link rel="stylesheet" type="text/css" href="../table_edit.css">
    <link rel="stylesheet" type="text/css" href="../button.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="/ingredients">Ингридиенты</a>
    <a href="/recipes">Рецепты</a>
    <div class="topnav-right">GFL Task 4</div>
</div>

<form id="save" th:action="@{/ingredient_edit/{id}(id=${ingredient.id})}" method="post"></form>
<form id="back" action="/ingredients" method="get"></form>

<table class="table_edit">
    <tbody>
    <tr>
        <td class="label">Название</td>
        <td class="text">
            <input form="save" size="80" type="text" name="title" th:field="${ingredient.title}">
        </td>
    </tr>
    <tr>
        <td class="label">Описание(опционально)</td>
        <td class="text">
            <textarea form="save" name="description" cols="80" rows="25" th:field="${ingredient.description}"></textarea>
        </td>
    </tr>
    </tbody>
</table>

<input form="back" class="button" type="submit" value="Отмена">
<input form="save" class="button" type="submit" value="Сохранить">
</body>
</html>