<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ингредиенты</title>
    <link rel="stylesheet" type="text/css" href="topnav.css">
    <link rel="stylesheet" type="text/css" href="button.css">
    <link rel="stylesheet" type="text/css" href="table.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="/ingredients">Ингридиенты</a>
    <a href="/recipes">Рецепты</a>
    <div class="topnav-right">GFL Task 4</div>
</div>

<form action="/ingredient_add" method="get">
    <input class="button" type="submit" value="Добавить ингредиент">
</form>
<form id="search_field" action="/ingredient_search" method="post"></form>


<table class="table">
    <thead>
    <tr>
        <th>Поиск ингредиентов</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <input form="search_field" size="50" placeholder="Символы в названии" type="text" name="name">
        </td>
        <td>
            <input type="submit" form="search_field" value="Искать">
        </td>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>Ингридиенты</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i : ${ingredients}">
        <td th:text="${i.title}"></td>
        <td> <a th:href="@{/ingredient_info/{id}(id=${i.id})}">Подробнее</a></td>
        <td> <a th:href="@{/ingredient_delete/{id}(id=${i.id})}">Удалить</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>